<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

<header>Emotion Based Music Recommendation</header>

<!-- SMILEY EMOJI -->
<div style="text-align:center; font-size:60px; margin:10px 0;">
    😊
</div>

<div class="container">
    <div class="card">
        <h2>Start</h2>
        <a href="/mode">
            <button>Start Detection</button>
        </a>
    </div>
</div>

</body>
</html>